Survive-POM/Survive-SOAP-Client/src/wsdl/localhost_8080/SERVER/SurviveImplService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. --><xs:schema xmlns:tns="http://ws.pa165.fi.muni.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.pa165.fi.muni.com/">

<xs:element name="monsterManagerfindAll" type="tns:monsterManagerfindAll"/>

<xs:element name="monsterManagerfindAllResponse" type="tns:monsterManagerfindAllResponse"/>

<xs:element name="monsterManagersave" type="tns:monsterManagersave"/>

<xs:element name="monsterManagersaveResponse" type="tns:monsterManagersaveResponse"/>

<xs:complexType name="monsterManagersave">
<xs:sequence>
<xs:element name="arg0" type="tns:monsterDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="monsterDto">
<xs:sequence>
<xs:element name="agility" type="xs:double" minOccurs="0"/>
<xs:element name="dangerLevel" type="xs:double" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="efficiencies" type="tns:monsterWeaponDto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="height" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="imagePath" type="xs:string" minOccurs="0"/>
<xs:element name="monsterClass" type="tns:monsterClass" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="stamina" type="xs:double" minOccurs="0"/>
<xs:element name="strength" type="xs:double" minOccurs="0"/>
<xs:element name="weight" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="monsterWeaponDto">
<xs:sequence>
<xs:element name="damage" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="efficiency" type="xs:int" minOccurs="0"/>
<xs:element name="hitRate" type="xs:int" minOccurs="0"/>
<xs:element name="monster" type="tns:monsterDto" minOccurs="0"/>
<xs:element name="weapon" type="tns:weaponDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="weaponDto">
<xs:sequence>
<xs:element name="caliber" type="xs:double" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="efficiencies" type="tns:monsterWeaponDto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="range" type="xs:int" minOccurs="0"/>
<xs:element name="rounds" type="xs:int" minOccurs="0"/>
<xs:element name="weaponClass" type="tns:weaponClass" minOccurs="0"/>
<xs:element name="weaponType" type="tns:weaponType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="monsterManagersaveResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="monsterManagerfindAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="monsterManagerfindAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:monsterDto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="weaponClass">
<xs:restriction base="xs:string">
<xs:enumeration value="Ranged"/>
<xs:enumeration value="Melee"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="weaponType">
<xs:restriction base="xs:string">
<xs:enumeration value="Gun"/>
<xs:enumeration value="Blade"/>
<xs:enumeration value="Blunt"/>
<xs:enumeration value="Explosive"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="monsterClass">
<xs:restriction base="xs:string">
<xs:enumeration value="Zombie"/>
<xs:enumeration value="Robot"/>
<xs:enumeration value="Mutant"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>