Survive-POM/Survive-SOAP-Client/src/wsdl/localhost_8080/pa165/SurviveServerImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pa165.fi.muni.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.pa165.fi.muni.com/" name="SurviveServerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.pa165.fi.muni.com/" schemaLocation="http://localhost:8080/pa165/SurviveServerImplService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="monsterManagerfindAll">
<part name="parameters" element="tns:monsterManagerfindAll"></part>
</message>
<message name="monsterManagerfindAllResponse">
<part name="parameters" element="tns:monsterManagerfindAllResponse"></part>
</message>
<message name="monsterManagersave">
<part name="parameters" element="tns:monsterManagersave"></part>
</message>
<message name="monsterManagersaveResponse">
<part name="parameters" element="tns:monsterManagersaveResponse"></part>
</message>
<message name="monsterManagerupdate">
<part name="parameters" element="tns:monsterManagerupdate"></part>
</message>
<message name="monsterManagerupdateResponse">
<part name="parameters" element="tns:monsterManagerupdateResponse"></part>
</message>
<message name="monsterweaponManagerfindByMonsterId">
<part name="parameters" element="tns:monsterweaponManagerfindByMonsterId"></part>
</message>
<message name="monsterweaponManagerfindByMonsterIdResponse">
<part name="parameters" element="tns:monsterweaponManagerfindByMonsterIdResponse"></part>
</message>
<message name="monsterweaponManagerfindByWeaponId">
<part name="parameters" element="tns:monsterweaponManagerfindByWeaponId"></part>
</message>
<message name="monsterweaponManagerfindByWeaponIdResponse">
<part name="parameters" element="tns:monsterweaponManagerfindByWeaponIdResponse"></part>
</message>
<message name="monsterManagerdelete">
<part name="parameters" element="tns:monsterManagerdelete"></part>
</message>
<message name="monsterManagerdeleteResponse">
<part name="parameters" element="tns:monsterManagerdeleteResponse"></part>
</message>
<message name="monsterManagerfindById">
<part name="parameters" element="tns:monsterManagerfindById"></part>
</message>
<message name="monsterManagerfindByIdResponse">
<part name="parameters" element="tns:monsterManagerfindByIdResponse"></part>
</message>
<message name="weaponManagerfindAll">
<part name="parameters" element="tns:weaponManagerfindAll"></part>
</message>
<message name="weaponManagerfindAllResponse">
<part name="parameters" element="tns:weaponManagerfindAllResponse"></part>
</message>
<message name="weaponManagersave">
<part name="parameters" element="tns:weaponManagersave"></part>
</message>
<message name="weaponManagersaveResponse">
<part name="parameters" element="tns:weaponManagersaveResponse"></part>
</message>
<message name="weaponManagerupdate">
<part name="parameters" element="tns:weaponManagerupdate"></part>
</message>
<message name="weaponManagerupdateResponse">
<part name="parameters" element="tns:weaponManagerupdateResponse"></part>
</message>
<message name="weaponManagerdelete">
<part name="parameters" element="tns:weaponManagerdelete"></part>
</message>
<message name="weaponManagerdeleteResponse">
<part name="parameters" element="tns:weaponManagerdeleteResponse"></part>
</message>
<message name="weaponManagerfindById">
<part name="parameters" element="tns:weaponManagerfindById"></part>
</message>
<message name="weaponManagerfindByIdResponse">
<part name="parameters" element="tns:weaponManagerfindByIdResponse"></part>
</message>
<message name="monsterweaponManagerfindAll">
<part name="parameters" element="tns:monsterweaponManagerfindAll"></part>
</message>
<message name="monsterweaponManagerfindAllResponse">
<part name="parameters" element="tns:monsterweaponManagerfindAllResponse"></part>
</message>
<message name="monsterweaponManagersave">
<part name="parameters" element="tns:monsterweaponManagersave"></part>
</message>
<message name="monsterweaponManagersaveResponse">
<part name="parameters" element="tns:monsterweaponManagersaveResponse"></part>
</message>
<message name="monsterweaponManagerupdate">
<part name="parameters" element="tns:monsterweaponManagerupdate"></part>
</message>
<message name="monsterweaponManagerupdateResponse">
<part name="parameters" element="tns:monsterweaponManagerupdateResponse"></part>
</message>
<message name="monsterweaponManagerdelete">
<part name="parameters" element="tns:monsterweaponManagerdelete"></part>
</message>
<message name="monsterweaponManagerdeleteResponse">
<part name="parameters" element="tns:monsterweaponManagerdeleteResponse"></part>
</message>
<message name="monsterweaponManagerfindById">
<part name="parameters" element="tns:monsterweaponManagerfindById"></part>
</message>
<message name="monsterweaponManagerfindByIdResponse">
<part name="parameters" element="tns:monsterweaponManagerfindByIdResponse"></part>
</message>
<portType name="SurviveServerImpl">
<operation name="monsterManagerfindAll">
<input message="tns:monsterManagerfindAll"></input>
<output message="tns:monsterManagerfindAllResponse"></output>
</operation>
<operation name="monsterManagersave">
<input message="tns:monsterManagersave"></input>
<output message="tns:monsterManagersaveResponse"></output>
</operation>
<operation name="monsterManagerupdate">
<input message="tns:monsterManagerupdate"></input>
<output message="tns:monsterManagerupdateResponse"></output>
</operation>
<operation name="monsterweaponManagerfindByMonsterId">
<input message="tns:monsterweaponManagerfindByMonsterId"></input>
<output message="tns:monsterweaponManagerfindByMonsterIdResponse"></output>
</operation>
<operation name="monsterweaponManagerfindByWeaponId">
<input message="tns:monsterweaponManagerfindByWeaponId"></input>
<output message="tns:monsterweaponManagerfindByWeaponIdResponse"></output>
</operation>
<operation name="monsterManagerdelete">
<input message="tns:monsterManagerdelete"></input>
<output message="tns:monsterManagerdeleteResponse"></output>
</operation>
<operation name="monsterManagerfindById">
<input message="tns:monsterManagerfindById"></input>
<output message="tns:monsterManagerfindByIdResponse"></output>
</operation>
<operation name="weaponManagerfindAll">
<input message="tns:weaponManagerfindAll"></input>
<output message="tns:weaponManagerfindAllResponse"></output>
</operation>
<operation name="weaponManagersave">
<input message="tns:weaponManagersave"></input>
<output message="tns:weaponManagersaveResponse"></output>
</operation>
<operation name="weaponManagerupdate">
<input message="tns:weaponManagerupdate"></input>
<output message="tns:weaponManagerupdateResponse"></output>
</operation>
<operation name="weaponManagerdelete">
<input message="tns:weaponManagerdelete"></input>
<output message="tns:weaponManagerdeleteResponse"></output>
</operation>
<operation name="weaponManagerfindById">
<input message="tns:weaponManagerfindById"></input>
<output message="tns:weaponManagerfindByIdResponse"></output>
</operation>
<operation name="monsterweaponManagerfindAll">
<input message="tns:monsterweaponManagerfindAll"></input>
<output message="tns:monsterweaponManagerfindAllResponse"></output>
</operation>
<operation name="monsterweaponManagersave">
<input message="tns:monsterweaponManagersave"></input>
<output message="tns:monsterweaponManagersaveResponse"></output>
</operation>
<operation name="monsterweaponManagerupdate">
<input message="tns:monsterweaponManagerupdate"></input>
<output message="tns:monsterweaponManagerupdateResponse"></output>
</operation>
<operation name="monsterweaponManagerdelete">
<input message="tns:monsterweaponManagerdelete"></input>
<output message="tns:monsterweaponManagerdeleteResponse"></output>
</operation>
<operation name="monsterweaponManagerfindById">
<input message="tns:monsterweaponManagerfindById"></input>
<output message="tns:monsterweaponManagerfindByIdResponse"></output>
</operation>
</portType>
<binding name="SurviveServerImplPortBinding" type="tns:SurviveServerImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="monsterManagerfindAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monsterManagersave">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monsterManagerupdate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monsterweaponManagerfindByMonsterId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monsterweaponManagerfindByWeaponId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monsterManagerdelete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monsterManagerfindById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="weaponManagerfindAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="weaponManagersave">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="weaponManagerupdate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="weaponManagerdelete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="weaponManagerfindById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monsterweaponManagerfindAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monsterweaponManagersave">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monsterweaponManagerupdate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monsterweaponManagerdelete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monsterweaponManagerfindById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SurviveServerImplService">
<port name="SurviveServerImplPort" binding="tns:SurviveServerImplPortBinding">
<soap:address location="http://localhost:8080/pa165/SurviveServerImplService"></soap:address>
</port>
</service>
</definitions>